<div class="bg-primary text-center py-6">
  <h2 class="font-medium text-2xl capitalize text-white">Register</h2>
</div>
<div class="flex flex-col justify-center items-center container pt-12 ">
<div class="flex flex-col gap-0.5">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
  <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full name", class: "w-full my-2" %>
  </div>

  <div class="field">
  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "w-full my-2" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "w-full my-2" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full my-2" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'w-full my-2 text-center text-white bg-primary py-3 w-3/4 rounded-[15px] hover:scale-105 transition-all' %>
  </div>
<% end %>

<%= render "devise/shared/links", class:'text-primary' %>
</div>
</div>
