<div>
<% @header = "New Category" %>
<%= render "shared/header", locals: { header: @header }, back: true %>
<% if flash[:notice].present? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<%= form_with model: @group, url: categories_path do |form| %>
  <div class="flex justify-center w-full">
        <div class="flex flex-col w-[90%] p-5 border max-w-wrapper">
          <%= form.text_field :name, required: true, placeholder: "New Category", class: 'px-5 py-2 border-b w-[90%] mx-auto block outline-none text-[20px] mb-5 '%>
          <%= form.select :icon, choices_for_select(@options, selected: @group.icon), { prompt: "Select the icon" }, class: "text-center text-2xl" %>
        </div>
  </div>
  <%= form.submit "Create Category", class: 'bg-secondary fixed bottom-0 border border-white text-center px-7 text-white py-3 w-full uppercase'%>
<% end %>
</div>
